@using Hsr.App_Start
@model Hsr.Models.DatamappingColumn

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateColumn</title>
</head>
<body>
<h2 class="ui-bar ui-bar-a ui-corner-all">添加</h2>

@using (Html.BeginForm()) {
        @Html.Partial("_CreateOrEditColumn", Model)
        <p>
            <input type="submit"  value="新建" onclick="return roletest()" id="SaveNew"/>
        </p>
}
    <div>
    <a href="/Import/Create" data-role="button">返回</a>
</div>
</body>
</html>
