@{
    Layout = null;
}
 <div  data-role="page">
       <div role="main">
                @RenderSection("featured", required: false)
                 
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
        </div> 
  </div>
