@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermision</title>
</head>
<body>
   <hgroup class="title">
    <h1 class="error">木有权限</h1>
    <h2 class="error">确定你有此权限，请联系管理员</h2>
</hgroup>
</body>
</html>
